@font-face {
    font-family: Papyrus;
    src: url(./Fonts/papyrus.ttf);
}
h4{font-family: Papyrus; font-size:75px; text-align: center;}
#center {
    text-align: center; color: white;
}
#funnytext {font-family: Papyrus; font-size:75px;}
body{background-image: linear-gradient(#00B6D5,Black);}
